<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>회원 정보</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="mt-20 mx-36">
    <div class="grid justify-items-center m-11 mx-64">
        <div class="border-b border-gray-200">
            <div class="sm:flex sm:items-baseline">
                <div class="mt-4 sm:ml-10 sm:mt-0">
                    <nav class="-mb-px flex space-x-8">
                        <a th:href="@{/member/memberDetail.do}"
                           class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-base font-medium">개인정보 수정</a>
                        <a th:href="@{/member/passwordChange.do}"
                           class="text-base font-semibold leading-6 text-gray-900">비밀번호 수정</a>
                        <a th:href="@{/member/manageAddresses.do}"
                                class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-base font-medium">
                            배송지 관리
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full min-h-full items-end justify-center p-4 text-start sm:items-center sm:p-0">
        <!-- max-w-xl mx-auto 클래스를 사용하여 폼의 너비와 위치를 조정 -->
        <form th:action="@{/member/passwordChange.do}" method="post" class="mx-auto" style="max-width: 22rem;">
            <div class="mb-5">
                <label for="oldPassword" class="block mb-2 text-sm font-medium text-gray-900">현재 비밀번호</label>
                <input type="password" id="oldPassword" name="oldPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
            </div>
            <div class="mb-5">
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">새로운 비밀번호</label>
                <input type="password" id="newPassword" name="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
            </div>
            <div class="mb-5">
                <label for="confirmNewPassword" class="block mb-2 text-sm font-medium text-gray-900">새로운 비밀번호 확인</label>
                <input type="password" id="confirmNewPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
            </div>

            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">저장</button>
        </form>
    </div>
</div>
<script layout:fragment="script"></script>
</html>
